# Ansible 実行設定(Proxmox ホスト用)
[defaults]
inventory = inventory/hosts.yml
roles_path = roles
stdout_callback = default
result_format = yaml
diff = always
nocows = True
host_key_checking = True
interpreter_python = /usr/bin/python3
callbacks_enabled = ansible.posix.profile_tasks

[privilege_escalation]
become = False
